{% extends 'base.html' %}
{% block content %}
<h2>Audit Logs</h2>
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Action</th>
      <th>Timestamp</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.user }}</td>
      <td>{{ log.get_action_display }}</td>
      <td>{{ log.timestamp }}</td>
      <td>{{ log.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
